---
layout: page
title: "Home"
---



<h2>Willkommen in unserer offenen Hightech-Werkstatt!</h2>

<h3>Das FabLab München bietet Euch Raum, um Eure Ideen zu verwirklichen und gemeinsam Spaß an Technik, Tüfteln und Selbermachen zu haben,
frei nach dem Motto "Make - Learn - Share" !</h3>

{% include image.html img=17 %}

<p>Unsere Werkstatt ist mit 3D Druckern, zwei Lasercuttern, CNC Fräsen und einer Elektronikabteilung ausgestattet und kann
nach einer Maschineneinführung von Euch zum Arbeiten frei genutzt werden.
Workshops, Meet and Makes, FabLab Talks und das wöchentliche Montagstreffen bieten Gelegenheit sich auszutauschen. Für den Nachwuchs
bieten wir FabLab Kids Kurse und eine offene Kids &amp; Teens
Werkstatt am Wochenende und in den Ferien Workshops. Für Schulen bieten wir neu ein Schulklassenprogramm am Vormittag (Mi, Fr) und
stellen wir auf Anfrage ein passendes Kursprogramm auch in der Schule zusammen.</p>

<h3>Was aber ist ein FabLab überhaupt?</h3>

<p>Ein FabLab - fabrication laboratory - ist eine offene Hightech-Werkstatt, ein Ort zum Selbermachen von (fast) Allem. Es bietet 
eine Lern-, Erfahrungs,- und Arbeitsumgebung bestehend aus: Raum,
Standardmaschinen, Informations- und Kommunikationstechnologie - darüber hinaus wird hier Wissen, Kreativität und Soziokultur 
gebündelt.</p>

{% include image.html img=43 %}

<p>Ausgestattet sind FabLabs mit digitalen Produktionsmaschinen wie zum Beispiel Lasercutter, CNC-Fräsmaschinen, 3D-Druckern und 
verstehen sich somit als Fortsetzung der digitalen Revolution: nach
Desktop Publishing und digitaler Video-Bearbeitung wird nun die Herstellung von physischen Produkten für jeden zugänglich.
Benutzerfreundliche, kostengünstige Standardmaschinen unterscheiden FabLabs
von teuren Hochtechnologie-Labors. Die Vernetzung unterschiedlichster Fachbereiche (Informatiker, Maschinenbauer, Techniker, 
Künstler, Designer, Architekten, Handwerker, Pädagogen...) führt zu neuen
Blickwinkeln, wirkt inspirierend sowohl für die Techniker als auch für die Künstler und Designer. Dieses Umfeld ist Ideengeber 
und Ausgangspunkt für Weiterbildung für Schüler, Jugendliche und alle
Interessierten, die - mit den neuen Produktionsmitteln erst einmal vertraut gemacht - auf Ideen gebracht werden, die sie sonst
vielleicht nie gehabt hätten...</p>

<h3>Innovation für Alle</h3>

<p>Im FabLab München sind generationenübergreifend alle Kreativschaffenden, Techniker, Tüftler, Schüler, Lehrer, Familien, einfach 
alle am Selbermachen Interessierte eingeladen, sich auf neue
Technologien und deren Möglichkeiten einzulassen. Die Nutzer setzen sich dabei aktiv und eigenverantwortlich mit den Inhalten, 
Technologien und der Vielfältigkeit des Labs auseinander. Das FabLab
München bietet so mit einfachen Mitteln die Möglichkeit, in kurzer Zeit einen konkret greifbaren Prototyp herzustellen. 
Etwas was bislang nur einem sehr kleinen, technologisch hochkompetenten
Expertenkreis vorbehalten war.</p>

{% include image.html img=34 %}
 Bildquelle: Deutsches Museum 2014
 
<p>Das FabLab München setzt somit auf Demokratisierung und Entmystifizierung neuester Technologien vor dem Hintergrund wichtiger 
Trends des 21sten Jahrhunderts. Menschen aus den unterschiedlichsten
Bereichen bietet das FabLab München einen Raum sich auszutauschen, voneinander zu lernen und gemeinsam Neues zu schaffen. 
"Make - Learn - Share" Gerade die Vernetzung von Technik, Kunst und Bildung
im Kontext mit generationenübergreifendem Lernen und Eigenarbeit macht das FabLab München so spannend.</p>
