
<div class="rside">
    <h3>Aktuelles</h3>
</div>
<!--
<div class="box rside">
<p>
<a
href="http://wiki.fablab-muenchen.de/display/WIKI/Programm#Programm-Geschenkgutscheine"><b>Wir
 haben jetzt auch <br/>Workshop-Gutscheine <br/>zum
Verschenken!</b></a>
</p>
</div>
-->
<div class="box rside">
    <p> <a href="http://bit.ly/FabLabMucEvents"
                 target="_blank"><br>
            <b>
                Unser aktuelles Programm für Erwachsene- und Kinder
            </b>
            </a>
        
    <ul><li>
    <a href="https://www.eventbrite.de/o/fablab-munchen-ev-7227151391">Erwachsenenkurse buchbar (Eventbrite)</a></li>
   <li>
    <a href="https://www.eventbrite.de/o/fablab-kids-im-fablab-munchen-ev-7117094347">Kinderkurse buchbar (Eventbrite)</a></li>
    </ul>
    
            <p>
        <b> FabLab München ist in der <a href="http://www.fablab-muenchen.de/page/2/">Gollierstraße 70 D</a> im Erdgeschoss</b><br />
    <p>
    <ul><li><b><a href="https://www.meet-and-code.org/event/details/145">Open Code Day</a> </b>für Kinder und Jugendliche - alles rund ums Coden am 15. Oktober 11 - 16 Uhr        
        </li>
        <br /><li>
                <p>
        <b>Open FabLab am Sonntag 26. November 2017 13 bis 16 Uhr</b> - Besucht unsere Werkstatt und Bildungsräume! <br/>
        </li>
    </ul>
    </p>
</div>
        
   
        
       
        
  


<div class="box rside" style="padding: 7px 5px 10px 9px;">
    <div style="width:200px; height: 200px;">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/tumblr/imgscale.jquery.js"></script>
        <script src="http://fablabmuc.tumblr.com/api/read/json?type=photo" type="text/javascript"></script>
        <script type="text/javascript" src="/static/tumblr/tumblr-image-widget.js"></script>
        <div id="widget" style="height: 200px; width: 200px; border: 1px solid #999; overflow: hidden; position:relative;">
            <div id="loader" style="height: 100%; width: 100%; text-align: center; background: #fff; z-index: 4;">
                <img src="/static/tumblr/load.gif" alt="" style="position: absolute; left: 47%; top:49%;">
            </div>
            <div id="output" style="height: 100%; width: 100%; overflow: hidden;        position:relative;"></div>
        </div>
    </div>
</div>


