
<div class="rside">
    <h3>Aktuelles</h3>
</div>
<!--
<div class="box rside">
<p>
<a
href="http://wiki.fablab-muenchen.de/display/WIKI/Programm#Programm-Geschenkgutscheine"><b>Wir
 haben jetzt auch <br/>Workshop-Gutscheine <br/>zum
Verschenken!</b></a>
</p>
</div>
-->
<div class="box rside">
    <p>
        <b>Nächstes Open FabLab:</b><br />Termin kommt bald<br /><br />
        Unser <a href="http://bit.ly/FabLabMucEvents"
                 target="_blank">
            <b>
                komplettes
                Programm
            </b>
        </a><br />
    </p>
</div>
<div class="box rside">
    <p>
        <b>Wir sind umgezogen!</b><br />Unsere Werkstatt ist jetzt im <a href="http://wiki.fablab-muenchen.de/display/WIKI/Anfahrt">Gewerbehof Westend in der Gollierstr. 70</a><br />
    </p>
</div>

<div class="box rside" style="padding: 7px 5px 10px 9px;">
    <div style="width:200px; height: 200px;">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/tumblr/imgscale.jquery.js"></script>
        <script src="http://fablabmuc.tumblr.com/api/read/json?type=photo" type="text/javascript"></script>
        <script type="text/javascript" src="/static/tumblr/tumblr-image-widget.js"></script>
        <div id="widget" style="height: 200px; width: 200px; border: 1px solid #999; overflow: hidden; position:relative;">
            <div id="loader" style="height: 100%; width: 100%; text-align: center; background: #fff; z-index: 4;">
                <img src="/static/tumblr/load.gif" alt="" style="position: absolute; left: 47%; top:49%;">
            </div>
            <div id="output" style="height: 100%; width: 100%; overflow: hidden;        position:relative;"></div>
        </div>
    </div>
</div>


<div class="rside">
   <h3>In der Presse</h3>
</div>
<div class="box rside">
<p style="margin-bottom: 0; padding-bottom: 0;">

<a href="/page/26"><b>3D-Drucker im Test</b>,<br/>
Thema bei 'Welt der Wunder'</a><br/>
30.06.2013<br/>
<br/>
<a href="/page/21"><b>3D-Drucker</b>,<br/>
Thema bei Galileo/Pro7</a><br/>
05.03.2012<br/>
<br/>
<a href="/page/25"><b>Eine Profiwerkstatt auch für Laien</b><br/>
Münchner Merkur</a><br/>
02.09.2011<br/>
<br/>
<a href="/page/23"><b>radioMikro besucht das FabLab München</b><br/>
Radio Bayern 2</a><br/>
13.07.2011<br/>

<p style="text-align: right; margin-top: 0; padding-top: 0;"><a href="/page/4">mehr...</a></p>
</div>


