

<div class="rside">
    <h3>Kontakt</h3>
</div>
<div class="box rside">
    <p style="line-height: 25px; font-weight: bold;">
        <a href="http://twitter.com/fablabmuc"><img src="/static/img/icon_twitter.png" style="vertical-align: text-bottom;" /></a>&nbsp;
        <a href="http://twitter.com/fablabmuc">twitter</a><br />
        <a href="http://www.facebook.com/pages/FabLab-Munchen/121233167924481"><img src="/static/img/icon_fb.png" style="vertical-align: text-bottom;" /></a>&nbsp;
        <a href="http://www.facebook.com/pages/FabLab-Munchen/121233167924481">facebook</a><br />
        <!--
                  <a href="http://blog.fablab-muenchen.de/"><img src="/static/icon_rss.png" style="vertical-align: text-bottom;"/></a>&nbsp;
                  <a href="http://blog.fablab-muenchen.de/"> Blog</a><br/>
        -->
    </p>
</div>
<div class="box rside">
    <p>info [ät] fablab-muenchen.de</p>
</div>
<div class="box rside">
    <p><b>Newsletter</a></b><br />Immer up-to-date bleiben mit unserem <a href="http://eepurl.com/bNUT9">Newsletter</a></p>
</div>

<div class="rside">
    <h3>Neuigkeiten</h3>
</div>
<div class="box rside" style="padding-right: 0px; padding-top:1px; padding-bottom:0px;">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FabLabMuc/favorites" data-widget-id="349899533037215745" data-chrome="noheader nofooter transparent"></a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    <br />
</div>




<div class="rside">
   <h3>In der Presse</h3>
</div>
<div class="box rside">
<p style="margin-bottom: 0; padding-bottom: 0;">

<a href="/page/27"><b>Messe: Make Munich</b>,<br/>
Thema bei der Abendschau/BR</a><br/>
15.01.2016<br/>
<br/>
<a href="/page/26"><b>3D-Drucker im Test</b>,<br/>
Thema bei 'Welt der Wunder'</a><br/>
30.06.2013<br/>
<br/>
<a href="/page/21"><b>3D-Drucker</b>,<br/>
Thema bei Galileo/Pro7</a><br/>
05.03.2012<br/>
<br/>
<a href="/page/25"><b>Eine Profiwerkstatt auch für Laien</b><br/>
Münchner Merkur</a><br/>
02.09.2011<br/>
<br/>
<a href="/page/23"><b>radioMikro besucht das FabLab München</b><br/>
Radio Bayern 2</a><br/>
13.07.2011<br/>

<p style="text-align: right; margin-top: 0; padding-top: 0;"><a href="/page/4">mehr...</a></p>
</div>


<div class="rside">
    <a href="http://anstiftung.de/selbermachen/offene-werkstaetten"><img border="0" alt="" src="http://lh4.googleusercontent.com/-vURKBYbqrEs/TdAXBMaTrLI/AAAAAAAAAAI/50ju-HohfPo/s800/hompage_logo.png" /></a>
    <br />
    <a href="http://www.hanssauerstiftung.de/foerderung/fablab-e-v/">
        <img border="0" alt=""
             src="http://lh6.googleusercontent.com/-86C9YVNFfg8/UOYL3jNxuJI/AAAAAAAAAFk/L2zLALY8dfM/s800/hans-sauer-stiftung.png" />
    </a>
    <br />
    <a href="http://www.wilhelm-stemmer-stiftung.de/index.php/kooperationen"><img border="0" alt="" src="https://lh4.googleusercontent.com/-WfdBAMZK7mk/U28qboNeGxI/AAAAAAAAAHU/FgvssoVwaiQ/s800/stemmer.png" /></a>
    <a href="http://www.musenkuss-muenchen.de/anbieter/56796ba560056939210027f8">
        <img border="0" alt=""
             src="https://lh3.googleusercontent.com/-qNmqDbUeriQ/VqhkVYFD_rI/AAAAAAAAAN8/pCfyFtCsZxo/s800-Ic42/musenkuss.png" />
    </a>
    <a href="http://www.bmbf.de/">
        <img border="0" alt=""
             src="http://lh6.googleusercontent.com/-kOhDIur-R5U/UOcLszr_BmI/AAAAAAAAAGA/-2AAWl6VWaA/s800/BMBF.png" />
    </a>

    <br />
</div>
