

<div class="rside">
    <h3>Kontakt</h3>
</div>
<div class="box rside">
    <p style="line-height: 25px; font-weight: bold;">
        <a href="http://twitter.com/fablabmuc"><img src="/static/img/icon_twitter.png" style="vertical-align: text-bottom;" /></a>&nbsp;
        <a href="http://twitter.com/fablabmuc">twitter</a><br />
        <a href="http://www.facebook.com/pages/FabLab-Munchen/121233167924481"><img src="/static/img/icon_fb.png" style="vertical-align: text-bottom;" /></a>&nbsp;
        <a href="http://www.facebook.com/pages/FabLab-Munchen/121233167924481">facebook</a><br />
        <!--
                  <a href="http://blog.fablab-muenchen.de/"><img src="/static/icon_rss.png" style="vertical-align: text-bottom;"/></a>&nbsp;
                  <a href="http://blog.fablab-muenchen.de/"> Blog</a><br/>
        -->
    </p>
</div>
<div class="box rside">
    <p>info [ät] fablab-muenchen.de</p>
</div>
<div class="box rside">
    <p><b>Newsletter</a></b><br />Immer up-to-date bleiben mit unserem <a href="http://eepurl.com/bNUT9">Newsletter</a></p>
</div>

<div class="rside">
    <h3>Neuigkeiten</h3>
</div>
<div class="box rside" style="padding-right: 0px; padding-top:1px; padding-bottom:0px;">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FabLabMuc/favorites" data-widget-id="349899533037215745" data-chrome="noheader nofooter transparent"></a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    <br />
</div>
<div class="rside">
    <a href="http://www.anstiftung-ertomis.de/opencms/opencms/offene_werkstaetten/"><img border="0" alt="" src="http://lh4.googleusercontent.com/-vURKBYbqrEs/TdAXBMaTrLI/AAAAAAAAAAI/50ju-HohfPo/s800/hompage_logo.png" /></a>
    <br />
    <a href="http://www.hanssauerstiftung.de/foerderung/fablab-e-v/">
        <img border="0" alt=""
             src="http://lh6.googleusercontent.com/-86C9YVNFfg8/UOYL3jNxuJI/AAAAAAAAAFk/L2zLALY8dfM/s800/hans-sauer-stiftung.png" />
    </a>
    <br />
    <a href="http://www.bmbf.de/">
        <img border="0" alt=""
             src="http://lh6.googleusercontent.com/-kOhDIur-R5U/UOcLszr_BmI/AAAAAAAAAGA/-2AAWl6VWaA/s800/BMBF.png" />
    </a>
    <a href="http://www.wilhelm-stemmer-stiftung.de/index.php/kooperationen.html"><img border="0" alt="" src="https://lh4.googleusercontent.com/-WfdBAMZK7mk/U28qboNeGxI/AAAAAAAAAHU/FgvssoVwaiQ/s800/stemmer.png" /></a>
    <br />
</div>

