

{% assign navurl = page.url | remove: 'index.html' %}
{% assign navitem = false %}

{% for item in include.menu %}
    {% if item.subitems %}
        {% if navurl == item.url %}
            {% assign navitem = item %}
        {% else %}
            {% for subitem in item.subitems %}
                {% if navurl == subitem.url %}
                    {% assign navitem = item %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if navitem %}
<div id="navigation2menu">
<div id="navigation2menuinner">
  <ul class="menu level1">
    <li class="subactive"><a href="{{ navitem.url }}">{{ navitem.text }}</a></li>
    <ul class="menu level2">
      {% for item in navitem.subitems %}
          <li {% if item.url == navurl %} class="active" {% endif %} {{ item.extra_li_attr }}>
              <a href="{{ item.url }}" {% if item.url == navurl %} class="current" {% endif %} >
                      {{ item.text }}
              </a>
          </li>
      {% endfor %}
    </ul>
  </ul>
</div>
</div>
{% endif %}



