<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

{% include head.html %}

<body>
    <div id="header-outer">
        <div id="header">
            <div id="logo">
                <img src="/static/img/header_logo.png" />
            </div><!-- /#logo -->
            <div id="navigation" class="col-full">
                {% include menu.html menu=site.data.menu %}
            </div><!-- /#navigation -->
        </div><!-- /#header -->
    </div><!-- /#header-outer -->

    <div id="content">
        <div id="contentdiv">
            <div id="sidebar">

                {% include aktuell.html %}
                {% include kontakt.html %}

            </div> <!-- sidebar -->
            <div class="pagecolumn">
                <div class="pagecontent">
                    <div id="navigation2">
                {% include menu2.html menu=site.data.menu %}
                    </div><!-- /#navigation2 -->

                    {{ content }}



                </div> <!-- pagecontent -->
            </div> <!-- pagecolumn -->
            <div class="clearfix">&nbsp;</div>
        </div><!-- contentdiv -->
    </div><!-- content -->

    {% include footer.html %}


</body>
</html>
